/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* End of reset css */

.topbar {
display: block;
background: url('../images/topright-bg.png') right center no-repeat #01a5d6;
border-bottom: 2px solid #000;
}
.topbar p {
text-align: center;
color: #fff;
text-shadow: 1px 1px #000;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding: 25px 0;
padding-right: 75px;
font-size: 18px;
}
body {
overflow: hidden;
}
.loader {
display: block;
width: 100%;
height: 80%;
position: fixed;
top: 75px;
background: url('../images/loader.gif') no-repeat center center #fff;
z-index: 1000;
}